[mediagoblin]
direct_remote_path = /mgoblin_static/
email_sender_address = "noreply@${site.hostnameorsystemhostname}"

sql_engine = postgresql:///${appconfig.postgresql.dbname.maindb}

email_debug_mode = true
allow_registration = true
allow_reporting = true

# local_templates = %(here)s/user_dev/templates/

## You can set your theme by specifying this (not specifying it will
## use the default theme).  Run `gmg assetlink` to apply the change.
## The airy and sandyseventiesspeedboat theme comes with GMG; please
## see the theming docs on how to install other themes.
# theme = airy

## If you want the terms of service displayed, you can uncomment this
# show_tos = true

user_privilege_scheme = "uploader,commenter,reporter"
[storage:queuestore]
base_dir = %(here)s/user_dev/media/queue

[storage:publicstore]
base_dir = %(here)s/user_dev/media/public
base_url = /mgoblin_media/

[celery]
# Put celery stuff here

# Place plugins here, each in their own subsection of [plugins].
# See http://docs.mediagoblin.org/siteadmin/plugins.html for details.
[plugins]
[[mediagoblin.plugins.geolocation]]
[[mediagoblin.plugins.basic_auth]]
[[mediagoblin.media_types.image]]
