[mediagoblin]
direct_remote_path = /mgoblin_static/
email_sender_address = "noreply@${site.hostnameorsystemhostname}"

sql_engine = postgresql://${appconfig.postgresql.dbuser.maindb}:${appconfig.postgresql.dbusercredential.maindb}@${appconfig.postgresql.dbhost.maindb}:${appconfig.postgresql.dbport.maindb}/${appconfig.postgresql.dbname.maindb}

email_debug_mode = ${installable.customizationpoints.emaildebugmode.value}
allow_registration = ${installable.customizationpoints.allowregistration.value}
allow_reporting = ${installable.customizationpoints.allowreporting.value}

local_templates = %(here)s/templates/

## You can set your theme by specifying this (not specifying it will
## use the default theme).  Run `gmg assetlink` to apply the change.
## The airy and sandyseventiesspeedboat theme comes with GMG; please
## see the theming docs on how to install other themes.
# theme = airy

## If you want the terms of service displayed, you can uncomment this
# show_tos = true

user_privilege_scheme = "uploader,commenter,reporter"
[storage:queuestore]
base_dir = %(here)s/media/queue

[storage:publicstore]
base_dir = %(here)s/public
base_url = /mgoblin_media/

# Place plugins here, each in their own subsection of [plugins].
# See http://docs.mediagoblin.org/siteadmin/plugins.html for details.
[plugins]
[[mediagoblin.plugins.geolocation]]
[[mediagoblin.plugins.basic_auth]]
[[mediagoblin.media_types.image]]
